<html>
<head>
  <title>Sip Screen</title> 
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- gives browser instructions on how to control
  page dimensions and scaling -->

 
  <link href="/css/bootstrap.css" rel="stylesheet">
  <link href="/css/bootstrap-theme.css" rel="stylesheet">
  <!-- <link href="/css/plant.css" rel="stylesheet">
  <link href="css/hydration.css" rel="stylesheet"> -->

  <script src="js/jquery-1.11.0.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/takesip.js"></script>
</head>
<body>
  <div class="container">
    <h2><i class="arrow leftArrow glyphicon glyphicon-arrow-left" onclick="history.back(-1)"></i>Sip</h2>
    <hr size="50">

    <div class="cup sip-tracker" id="0">
      <img class= "img-responsive" src="/images/Cup0.png" ... />
    </div>

    <form id="addFriendForm" role="form" method="get" action="/update" class="sipBtn">
        <input type="submit" id="submitBtn" class="btn btn-default" value="Take a Sip!"></input>
      </form>

   <div class="row">
      <a href="sip"><button class="btn btn-default col-md-6" >Sip</button></a>
      <a href="friends"><button class="btn btn-default col-md-6" >Friends</button></a>
  </div>
</div>

  <script src="https://code.jquery.com/jquery.js"></script>
  <script src= "js/bootstrap.js"></script>

</body>
</html>
